Source: pyqcm
Section: libs
Priority: extra
Maintainer: Marc Poulhiès <dkm@kataplop.net>
Build-Depends: cdbs, debhelper (>= 7), python-support, python-all-dev
Standards-Version: 3.8.1
Homepage: http://www.kataplop.net/pub/projets/pyqcm

Package: python-pyqcm
Architecture: all
Section: python
Depends: ${python:Depends}, python-lxml
Description: python module to handle QCM
 python module to handle QCM

Package: pyqcm-ffvl-2004
Architecture: all
Section: libs
Depends: python-pyqcm
Description: data for FFVL 2004 for pyqcm
 data for FFVL 2004 for pyqcm
